

/* start popup: */
.popup {
    position: fixed;
    z-index: 100;
    display: flex;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(black, .75);
    transition: .5s;
}

#start-popup{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0rem;
}




#end-popup{
top: 185px;
left: 25px;
}


.popup-box {
    flex: 1;
    max-width: 48rem;
    margin: auto;
    padding: 1.5rem;
    background-color: burlywood;
    border: 1px solid black;
}

.popup[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
}

.start, .next-level, #pseudo {
    margin-top: 5px;
    width: 100%;
}

#joker {
    background-color: mediumaquamarine;
}
#give-up {
    background-color: brown;
}

.pseudo-display {
    margin: auto;
}


/* main page */
.container-sm {
    padding-bottom: 5px;
}

.navbar {
    background-color: lightsteelblue;
    font-style: bold;
}

.countryName, #chrono {
    color: lightsteelblue;
}



@media all and (min-width: 1199px) {
    .flag {
        height: 600px;
    }
}

@media all and (max-width: 1199px) {
    .flag {
        height: 500px;
    }
}

@media all and (max-width: 991px) {
    .flag {
        height: 300px;
    }
}

@media all and (max-width: 767px) {
    .flag {
        height: 200px;
    }
}

/* countries area: */
.delete{
    display: none
}


/* countries color */
.white {
    fill: white;
}

.yellow {
    fill: yellow;
}

.blue {
    fill: blue;
}

.red {
    fill: red;
}

.green {
    fill: green;
}

.black {
    fill: black;
}
