/* starter popup: */
.starter-popup {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 2.4rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(black, .75);
    transition: .2s;
}


.starter-popup-box {
    flex: 1;
    max-width: 48rem;
    margin: auto;
    padding: 2.4rem;
    background-color: white;
    border: 1px solid black;
}

.starter-popup[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
}

.start {
    margin-top: 5px;
    width: 100%;
}


/* main page */
.container-sm {
    background-color: grey;
}

@media all and (min-width: 1199px) {
    .flag {
        height: 600px;
    }
}

@media all and (max-width: 1199px) {
    .flag {
        height: 500px;
    }
}

@media all and (max-width: 991px) {
    .flag {
        height: 300px;
    }
}

@media all and (max-width: 767px) {
    .flag {
        height: 200px;
    }
}

.flag-part {
    border:  0.1px solid rgba(255, 255, 255, 0.2);
}

/* countries form */
.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}


/* countries color */
.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}